/* body, html {
    height: 100%;
} */

.bg { 

    background-image: url(../images/Batman-Background-for-desktop.png);

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

h1 {
    padding: 0 10px 0 10px;
    font-family: 'Russo One', sans-serif;
}

p, h2, h4 {
    font-family: 'Russo One', sans-serif;
}

.blink_text {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }